*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  main{
    padding: 2rem;
    display: flex;
  }
  main div{
    margin: 0.5em;
    padding: 1rem;
    border: 1px solid;
    flex-wrap: wrap;
    flex-basis: 25%;
   flex-grow: 1;
  }
  label,input{
    margin-bottom: 0.75em;
  }
  .formulario{
    display: flex;
  }
 label{
   flex-basis: 25%;
   text-align: left;
   margin-right: 1em;
 }
 input{ 
    flex-basis: 70%;
  }
  button{
    padding: 0.5em;
    width: 50%;
    justify-self: center;
  }
